[submodule "inspircd-config"]
	path = inspircd-config
	url = git@git.smashthestack.org:sts
[submodule "inspircd-secrets"]
	path = inspircd-secrets
	url = pegasus:~/OverTheWire/inspircd-secrets/
[submodule "ansible-roles"]
	path = roles
	url = https://github.com/StevenVanAcker/ansible-roles.git
