[Unit]
Description=InspIRCD server
After=network.target auditd.service

[Service]
Type=forking
ExecStart=/opt/inspircd/inspircd start
ExecStop=/opt/inspircd/inspircd stop
ExecReload=/opt/inspircd/inspircd reload
Restart=on-failure

[Install]
WantedBy=multi-user.target
